body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #292b30, #6b7d97);
  font-family: Arial, sans-serif;
  width: 100%; /* Ensure full width */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Add this line to prevent horizontal overflow */
}

.App-header {
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-width: 75%;
  animation: bounce 2s infinite;
  padding-top: 5rem;
}

.Resume-button.floating-button {
  background-color: #da581c;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  animation: pulseAnimation 15s infinite;
}

@media (max-width: 768px) {
  .App-header {
    font-size: 1.5rem; /* Adjust the font size */
    text-align: center; /* Center the text */
    padding-top: 5rem; /* Add some padding to the header */
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Adjust the bounce height as needed */
  }
}

.App-logo {
  height: 30vw; /* Adjust the size based on your preference */
  width: 30vw; /* Adjust the size based on your preference */
  max-width: 800px; /* Add a max width to prevent it from getting too large on larger screens */
  animation: App-logo-spin infinite 6s linear;
  pointer-events: none;
}


@media (max-width: 768px) {
  body {
    display: block; /* Change display to block for mobile */
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulseAnimation {
  0%, 100% {
    transform: scale(1); /* Initial and final state */
  }
  50% {
    transform: scale(1.2); /* Scale up by 5% in the middle of the animation */
  }
}

strong p u {
  text-decoration: underline;
}


.Resume-button.floating-button:hover {
  background-color: black; /* Black background when hovering */
  color: #da581c; /* Orange text when hovering */
  border: 2px solid white; /* White outline when hovering */
}

footer {
  background-color: #000000;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

@keyframes shimmer {
  0%, 100% {
    color: #da581c; /* Start and end with the original color */
  }
  50% {
    color: white; /* Change to white in the middle of the animation */
  }
}

footer a {
  color: #da581c;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  animation: shimmer 10s infinite; /* Apply the shimmer animation */
}
