.Joke-container {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  text-align: center;
  margin-bottom: 1rem; /* Decrease the margin to bring the button closer */
}

.DadJoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  min-height: 33vh; /* Adjust the height as needed */
}


  /* Hide the welcome message on mobile */
.DadJoke .welcome-message {
  display: none;
}

/* Style the welcome message differently on desktop */
@media (min-width: 769px) {
  .DadJoke .hide-welcome {
    display: none;
  }

  .DadJoke .welcome-message {
    display: block;
    margin-bottom: 1rem;
  }
}


.Joke-button-container {
  position: sticky;
  bottom: 0;
  background-color: #292b30;
  width: 100%;
}

.Joke-button {
  background-color: #da581c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.Joke-button:hover {
  background-color: #db6e15;
  color: white;
}
